asttokens==2.4.1
build==1.2.1
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.53.1
ipython==8.26.0
jedi==0.19.1
kiwisolver==1.4.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
numpy==2.0.1
packaging==24.1
pandas==2.2.2
parso==0.8.4
pillow==10.4.0
pip-tools==7.4.1
prompt_toolkit==3.0.47
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
setuptools==72.1.0
six==1.16.0
stack-data==0.6.3
tqdm==4.66.4
traitlets==5.14.3
tzdata==2024.1
wcwidth==0.2.13
wheel==0.43.0
